:host button {
  appearance: none;
  padding: 0px;
  border: none;
  background: transparent;
}

:host * {
  --color1: transparent;
  --color2: transparent;
  --color3: transparent;
  --color4: transparent;
  --border-width: 4px;
  --border-spacing: -04px;
  --deg: -45deg;
  --aspect-ratio: 1/1;

  border-radius: 20%;
  width: 64px;
  margin: calc(var(--border-spacing) + (var(--border-width) * 2) + 6px);
  display: inline-block;
  position: relative;
  cursor: pointer;
  aspect-ratio: var(--aspect-ratio);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.05);
}

:host *::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}

:host *::after {
  background: transparent;
  border-radius: 24%;
  border: solid var(--border-width) transparent;
  width: calc(
    100% + calc(var(--border-width) * 2) + calc(var(--border-spacing) * 2)
  );
  aspect-ratio: var(--aspect-ratio);
  position: absolute;
  top: calc(-1 * ((var(--border-width) * 2) + (var(--border-spacing))));
  left: calc(-1 * ((var(--border-width) * 2) + (var(--border-spacing))));
}

:host *.selected::after {
  border-color: rgba(0, 162, 255, 0.5);
}

:host *.unknown-color {
  background-image: linear-gradient(
    -45deg,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
}

:host *.mono-color {
  background: linear-gradient(
      var(--deg),
      rgba(255, 255, 255, 0) 45%,
      rgb(247 247 247 / 50%) 50%,
      rgba(255, 255, 255, 0) 65%
    ),
    radial-gradient(
      closest-side,
      var(--color1) 0,
      var(--color1) 15%,
      var(--color2) 180%
    );
}

:host *.dual-color {
  background: linear-gradient(
      var(--deg),
      rgba(255, 255, 255, 0) 40%,
      rgb(247 247 247 / 50%) 50%,
      rgba(255, 255, 255, 0) 65%
    ),
    linear-gradient(
      var(--deg),
      var(--color1) 25%,
      var(--color2) 50%,
      var(--color3) 50%,
      var(--color4) 100%
    );
}
