:host button {
  appearance: none;
  padding: 0;
  border: none;
  background: transparent;
}

:host * {
  border-radius: 20%;
  width: 48px;
  height: 48px;
  margin: 5px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  aspect-ratio: 1/1;
  --color1: transparent;
  --color2: transparent;
  --color3: transparent;
  --color4: transparent;
  --deg: -45deg;
  padding: 5px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.05);
  border: solid 2px transparent;
}

:host *::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}

:host *.unknown-color {
  background-image: linear-gradient(
    -45deg,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  border-color: blue;
}

:host *.mono-color {
  background: linear-gradient(
      var(--deg),
      rgba(255, 255, 255, 0) 45%,
      rgb(247 247 247 / 50%) 50%,
      rgba(255, 255, 255, 0) 65%
    ),
    radial-gradient(
      closest-side,
      var(--color1) 0,
      var(--color1) 15%,
      var(--color2) 180%
    );
}

:host *.dual-color {
  background: linear-gradient(
      var(--deg),
      rgba(255, 255, 255, 0) 40%,
      rgb(247 247 247 / 50%) 50%,
      rgba(255, 255, 255, 0) 65%
    ),
    linear-gradient(
      var(--deg),
      var(--color1) 25%,
      var(--color2) 50%,
      var(--color3) 50%,
      var(--color4) 100%
    );
}
